<div class="row">
  <div class="col-sm-6">
    <div *ngFor="#meal of mealList | name:filterName | calories:filterCalories"
    (click)="mealClicked(meal)"
    [class.selected]="meal === selectedMeal">
    <h3>I ate {{meal.calories}} calories of {{ meal.name }}</h3>
    <h4>because I {{meal.details}}</h4>
    </div>
  </div>
  <div class="col-sm-6">
    <edit-meal *ngIf="selectedMeal" [meal]="selectedMeal"></edit-meal>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
    <h3>View specific meal details</h3>
    <select (change)="onNameChange($event.target.value)" class="filter">
      <option value="names" selected="selected">Show all with Details</option>
      <option *ngFor="#currentMeal of mealList" value="{{ currentMeal.name }}">{{ currentMeal.name }}</option>
    </select>
    <select (change)="onCalorieChange($event.target.value)" class="filter">
      <option value="" selected="selected">Show all</option>
      <option value="low">Show meals under 300 calories</option>
      <option value="high">Show meals over 300 calories</option>
    </select>
    <new-meal (onSubmitNewMeal)="createMeal($event)"></new-meal>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
    <h3>Calories for today's meals: {{ dayTotal }}</h3>
    <button (click)="totalCalories(mealList)" class="btn-success btn-lg update-button">Update</button>
    <h3>Average calories consumed per meal today {{ dayAverage }}</h3>
    <button (click)="averageCalories(mealList)" class="btn-success btn-lg update-button">Update</button>
  </div>
</div>
<div class="row">

</div>
